* {
    box-sizing: border-box;
}

body {
    font-family: "Lilita One", sans-serif;
    color: #846358;
    margin: 0;
}

img {
    width: 15%;
    height: 15%;
}

h1 {
    align-items: center;
    justify-content: center;
}

#start-screen,
#how-to-play-screen,
#game-over-screen,
#game-won-screen {
    width: 600px;
    height: 600px;
    background-color: #b2f2bb;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#start-button,
#continue-button,
#try-again-button,
#next-level-button,
#quit-game-button {
    font-family: "Lilita One", sans-serif;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #846358;
    color: #b2f2bb;
    border: #b2f2bb;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}


#start-button:hover,
#continue-button:hover,
#try-again-button:hover,
#next-level-button:hover,
#quit-game-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.score {
    font-size: 20px;
    color: #846358;
    position: absolute;
    top: 0px;
    left: 20px;
    z-index: 10;
    background-color: #b2f2bb;
    padding: 5px 10px;
    border-radius: 5px;
}

.lives {
    font-size: 20px;
    color: #846358;
    position: absolute;
    top: 0px;
    left: 500px;
    z-index: 10;
    background-color: #b2f2bb;
    padding: 5px 10px;
    border-radius: 5px;
}

.level {
    font-size: 20px;
    color: #846358;
    position: absolute;
    top: 0px;
    left: 250px;
    z-index: 10;
    background-color: #b2f2bb;
    padding: 5px 10px;
    border-radius: 5px;
}

.timer {
    font-size: 20px;
    color: #846358;
    position: absolute;
    bottom: 0px;
    left: 20px;
    z-index: 10;
    background-color: #b2f2bb;
    padding: 5px 10px;
    border-radius: 5px;
}

.grid-wrapper {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
    width: 600px;
    height: 600px;
    border-radius: 20px;
    background-color: transparent;

}

div.grass {
    position: relative;
    background-image: url("../assets/images/grass_tile.png");
    background-size: cover;
    background-repeat: repeat;
}

div.water {
    position: relative;
    background-image: url("../assets/images/water_tile.png");
    background-size: cover;
    background-repeat: repeat;
}

div.alpaca::after {
    content: " ";
    background-image: url("../assets/images/alpaca_down.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


div.cow-left::before {
    content: " ";
    background-image: url("../assets/images/cow_left_1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

div.logs-right::before {
    content: " ";
    background-image: url("../assets/images/log_v2_2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

div.background {
    position: relative;
    background-color: #b2f2bb;
}


.hide {
    display: none;
}

.show {
    display: flex;
}