* {
    box-sizing: border-box;
  }

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

body {
    font-family: "Lilita One", sans-serif;
    margin: 0;
  }

.score{
    font-size: 20px;
    color: #846358;
    display: flex;
    justify-content: flex-start;
} 

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-wrapper {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
    width: 600px;
    height: 600px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    background-color: #b2f2bb;

}
div {
    display: inline-block;
    border: 1px solid lightgrey;
  }


#start {
    font-family: "Lilita One", sans-serif;
    width: 200px; 
    height: 50px; 
    font-size: 20px;
    background-color: #846358;
    color: #b2f2bb; 
    border: #b2f2bb;
    border-radius: 10px; 
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#start:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.hide{
    display: none;
}
